@font-face {
  font-family: 'Hack';
  src: url('./fonts/Hack-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/Hack-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


.red {
  color: #e2777a;
}

.red-bg {
  background-color: #e2777a;
}
